.card-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.card {
  background-color: #ecf0f1;
  color: #2c3e50;
  padding: 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.card:hover,
.active-card {
  background-color: #4caf50;
  color: white;
  transform: scale(1.05);
}

.icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
