/* home.css */
.home-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
}

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;
}

.home-title {
  color: #4caf50; /* Color of the title */
  font-size: 3rem; /* Font size for large screens */
  text-align: center; /* Center the text */
  margin: 0; /* Remove default margin */
}

@media (max-width: 768px) {
  .home-title {
    font-size: 2.5rem; /* Font size for medium screens */
  }
}

@media (max-width: 480px) {
  .home-title {
    font-size: 2rem; /* Font size for small screens */
  }
}

.home-subtitle {
  font-size: 1.2rem; /* Subtitle font size */
  color: #666; /* Subtitle color */
  max-width: 800px; /* Maximum width for subtitle */
  margin-bottom: 3rem; /* Margin below subtitle */
}

.home-icon-container {
  display: flex;
  justify-content: center; /* Center the icons */
  gap: 3rem; /* Space between icons */
  margin-bottom: 3rem; /* Margin below icons */
}

.home-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center icon and text */
}

.home-icon {
  font-size: 3rem; /* Icon size */
  color: #4caf50; /* Icon color */
  margin-bottom: 1rem; /* Margin below icons */
}

.home-icon-text {
  font-weight: bold; /* Bold text for icon labels */
  color: #333; /* Color for icon labels */
}

/* Additional styling for objectives if needed */
.home-objectives-container {
  text-align: left;
  margin-top: 2rem;
  max-width: 800px;
}

.home-objective {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
